body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url("o4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Slight dim effect */
  z-index: -1; /* Put it behind the login form */
}


.login-container {
  background: #fff;
  padding: 40px 35px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  width: 320px;
}

.login-container h2 {
  margin-bottom: 10px;
  color: #222;
}

.login-container label {
  display: block;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

#message {
  color: red;
  margin-top: 12px;
}
.app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 apps per row */
  gap: 25px;
  padding: 40px;
  max-width: 800px;
  margin: auto;
}


.orders-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.order-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}
